.header {
  position: fixed;
  background-color: #004080;
  height: 10%;
  width: 100%;
}

.header img {
  position: absolute;
  height: 50%;
  left: 2%;
  top: 25%;
  border-radius: 100%;
  border: 1px solid black;
  width: 50px;
}

.header h1 {
  color:white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content img {
  position: absolute;
  height: 20%;
  bottom: 2%;
  right: 1%;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

legend {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding:12px;
}

label {
  margin-bottom: 10px;
}

input[type="date"],
input[type="number"],
input[type="text"] {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #004080;
}
